<div class="container">
 <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
  <h2><%= @user.name %></h2>
   <div class="field">
    <%= profile_img(@user) %>
   </div>
  <h2>フォローしている人</h2>
   <% @user.followed_users.each do |user| %>
    <h2><%= user.name %></h2>
    <%= profile_img(user) %>
   <% end %>
  <h2>フォローされている人</h2>
   <% @user.followers.each do |user| %>
    <h2><%= user.name %></h2>
   <% end %>
 </div>
</div>
